@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');


body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

h2,
h3,
ul {
  margin: 0;
}

p {
  margin: 4px 0 8px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

button {
  background-color: #3882F6;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: 0px solid black;
  border-radius: 8px;
  padding: 8px 30px;
}

.hero,
#nav {
  background-color: #1F2937;
  padding: 0 200px;
}

#nav {
  padding-top: 20px;
}

.hero {
  height:82.2vh;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  gap: 20px;
}

#nav .link-1 {
  margin-left: auto;
}

.hero-text {
  display: flex;
  flex-wrap: wrap;
}

#nav a,
.hero .secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

#nav a {
  text-decoration: none;
}

.header-logo,
.hero .main-text {
  color: #F9FAF8;
  font-weight: 900;
}

.header-logo {
  font-size: 24px;
}

.hero .main-text {
  font-size: 48px;
}

img.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 500px;
  height: 240px;
  background-color: #6d747d;
  color: white;
}

.info-container {
  height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 62px;
}

.info-sub {
  width: 150px;
}

h2.info-heading {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
}

.info-container img {
  height: 150px;
  width: 150px;
  border: 5px solid #3882F6;
  border-radius: 20px;
}

.info-container div {
  color: darkslategray;
}

.quote {
  background-color: #E5E7EB;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.quote > .text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
  width: 800px;
}

.quote .text .user {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: right;
}

.sign-up-container {
  padding: 20px 120px;
}

.sign-up {
  border: 0px solid black;
  border-radius: 8px;
  background-color: #3882F6;
  padding: 50px;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.sign-up button {
  border: 2px solid #F9FAF8;
}

.sign-up h3 {
  font-size: 24px;
}

.sign-up p {
  font-size: 18px;
}

.footer {
  background-color: #1F2937;
  font-size: 18px;
  color: #F9FAF8;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
